Improve HTTP client's redirect behavior

The HTTP client's redirect behavior currently is pretty bare-bones in that it [merely swaps out the URI for the one given in the redirect response's `Location` header](https://github.com/clj-commons/aleph/blob/d039e84f360b6a81a13de7a4d6316807ef05d22e/src/aleph/http/client_middleware.clj#L297-L316) and possibly [changes the request method, depending on the redirect response status](https://github.com/clj-commons/aleph/blob/d039e84f360b6a81a13de7a4d6316807ef05d22e/src/aleph/http/client_middleware.clj#L318-L387). Notably, this means that sensitive headers (specifically `Authorization`) are also sent to the redirect destination which can lead to problems (quoting @ferdinand-beyer from [Clojurians Slack](https://clojurians.slack.com/archives/C0G922PCH/p1752586146855599)):

> I noticed that Aleph’s HTTP client follows redirects by just replacing the URL and possibly the method. It will however keep all other request options, in particular any credentials from the original request. That means that by default, if one sends credentials to an endpoint that responds with a redirect, Aleph will happily send these credentials along. I’m not saying this behaviour is wrong, but I noticed that while debugging this scenario: GitHub’s Asset download REST endpoint requires authentication using a bearer token, and will respond with a 302 to a CDN URL. There seems to be some load balancing between different CDN providers and my redirect sometimes succeeded (AWS) and sometimes failed with 403 Unauthorized (Azure). Turned out that the Azure CDN choked on the access token from the original GitHub API request.

The pertinent [section 15.4 of RFC 9110](https://datatracker.ietf.org/doc/html/rfc9110#section-15.4) states:

> Consider removing header fields that were not automatically generated by the implementation (i.e., those present in the request because they were added by the calling context) where there are security implications; this includes but is not limited to [Authorization](https://datatracker.ietf.org/doc/html/rfc9110#field.authorization) and Cookie.

So we should perhaps change the default behavior to *not* forward `Authorization` and `Cookie` headers on redirect. However, there may be legitimate reasons for wanting to forward them anyway, so we should probably introduce an option that makes it possible to opt into the old behavior again. But what about custom sensitive headers which users might not expect to be forwarded, say something like `X-Secret-Token`? Perhaps we should provide an option like `:strip-headers-on-redirect` which defaults to `#{:authorization :cookie}`? Or provide a `:redirect-middleware` with a default of `(fn [req] (update req :headers dissoc :authorization :cookie)`? That would allow for supporting even more exotic cases.

We should also consider all other cases given in the aforementioned RFC section to see if they apply to Aleph and possibly change behavior.



FWIW: Looks like Aleph's current implementation is adapted [from `clj-http`](https://github.com/dakrone/clj-http/blob/cfcc70e435bc753b56f258348932a850dc4c6d09/src/clj_http/client.clj#L268-L302) which does pretty much the same thing (even comes with the same code comment).